body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  justify-content: flex-end;

  border-bottom: 1px solid #e7e7e7;
}

.navbar li {
  padding: 20px;
  border: 1px solid #e7e7e7;
  transition: all .5s ease-out;
  cursor: pointer;
}

.navbar li.logout {
  padding: 5px;
  display: flex;
  align-items: center;
}

.navbar li a, .navbar .logout {
  color: #000;
  text-decoration: none;
}

.navbar li:hover {
  background-color: #000;
}

.navbar li:hover a, .navbar li:hover .logout {
  color: #e7e7e7;
}

main {
  margin: 0 20px;
}

.sidebar-page {
  display: flex;
}

.sidebar-page aside {
  width: 20%;
  border-right: 1px solid #e7e7e7;

  display: flex;
  flex-direction: column;
}

.sidebar-page aside .view {
  border: 1px solid #e7e7e7;
  padding: 20px;

  transition: all .5s ease-out;
  cursor: pointer;
}

.sidebar-page aside .view:hover, .sidebar-page aside .view-active {
  background-color: #000;
  color: #e7e7e7;
}

.sidebar-page article {
  width: 80%;
  padding: 10px;
}

.search-page {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchRow {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.searchRow input {
  flex-grow: 1;
  height: 32px;
  font-size: 16px;
}

.posted {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.posted .vacancy {
  height: 40px;

  display: flex;
  align-items: center;

  border: 1px solid #e7e7e7;
  padding: 10px;
}

.posted .vacancy .name {
  width: 50%;
}

.posted .vacancy .status {
  width: 10%;
}

.posted .vacancy .buttons {
  width: 40%;
  display: flex;
  gap: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.primary-button {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.primary-button:hover {
  background-color: white;
  color: black;
}

.secondary-button {
  background-color: grey;
  color: white;
  border: 2px solid grey;
}

.secondary-button:hover {
  background-color: white;
  color: grey;
}

.disabled-button {
  background-color: lightgrey;
  color: darkgrey;
  border: 2px solid lightgrey;
  cursor: not-allowed;
}
