body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  resize: vertical;
}

nav {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #e7e7e7;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  display: flex;
  justify-content: flex-end;

}

.navbar li {
  padding: 20px;
  border: 1px solid #e7e7e7;
  transition: all .5s ease-out;
  cursor: pointer;
}

.navbar li.logout {
  padding: 5px;
  display: flex;
  align-items: center;
}

.navbar li a, .navbar .logout {
  color: #000;
  text-decoration: none;
}

.navbar li:hover {
  background-color: #000;
}

.navbar li:hover a, .navbar li:hover .logout {
  color: #e7e7e7;
}

main {
  margin: 0 20px;
}

.sidebar-page {
  display: flex;
}

.sidebar-page aside {
  width: 20%;
  border-right: 1px solid #e7e7e7;

  display: flex;
  flex-direction: column;
}

.sidebar-page aside .view {
  border: 1px solid #e7e7e7;
  padding: 20px;

  transition: all .5s ease-out;
  cursor: pointer;
}

.sidebar-page aside .view:hover, .sidebar-page aside .view-active {
  background-color: #000;
  color: #e7e7e7;
}

.sidebar-page article {
  width: 80%;
  padding: 10px;
}

.search-page {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchRow {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.searchRow input {
  flex-grow: 1;
  height: 32px;
  font-size: 16px;
}

.vacancy-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.vacancy {
  margin-bottom: 20px;
}

.vacancy .name {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.vacancy .status {
  font-size: 18px;
  color: grey;
}

.tags {
	list-style: none;
	margin: 0;
	overflow: hidden; 
	padding: 0;
  margin-top: 10px;
}

.tags li {
	float: left; 
}

.tag {
	background: #333;
	border-radius: 3px 0 0 3px;
	color: #fff;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	-webkit-transition: color 0.2s;
}

.tag::before {
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
}

.tag::after {
	background: #fff;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #333;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.vacancy .text {
  margin-top: 20px;
  color: black;
}

.vacancy .testTaskLink {
  color: blue;
  text-decoration: underline;
  margin-top: 10px;
}

.employer-data {
  margin-top: 20px;
}

.candidate {
  margin-top: 20px;
}

.candidate form {
  display: flex;
  flex-direction: column;
}

.candidate .form-control {
  margin-bottom: 15px;
}

.form-control.expectations-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-control.expectations-inputs input {
  width: 100px !important;
}

.candidate label {
  font-weight: bold;
  color: black;
}

.candidate textarea,
.candidate select,
.candidate input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

.candidate .radio {
  margin-top: 10px;
}

.candidate .button.primary-button {
  margin-top: 20px;
}

.applied-message {
  margin-top: 20px;
  color: green;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.primary-button {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.primary-button:hover {
  background-color: white;
  color: black;
}

.secondary-button {
  background-color: grey;
  color: white;
  border: 2px solid grey;
}

.secondary-button:hover {
  background-color: white;
  color: grey;
}

.disabled-button {
  background-color: lightgrey;
  color: darkgrey;
  border: 2px solid lightgrey;
  cursor: not-allowed;
}

.timezone--wrapper {
  margin-bottom: 20px;
}

.registration {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.registration form {
  display: flex;
  flex-direction: column;
}

.registration .form-control {
  margin-bottom: 15px;
}

.registration label {
  font-weight: bold;
  color: black;
}

.registration input[type="text"],
.registration input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

.registration a {
  display: block;
  margin-top: 10px;
  color: blue;
  text-decoration: underline;
}

.registration a:hover {
  color: darkblue;
}

.vacancy-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 10px;
  margin-bottom: 10px;
}

.vacancy-row:hover {
  background-color: #f5f5f5;
}

.vacancy-row .name {
  font-size: 18px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  width: 300px;
}

.vacancy-row .status {
  font-size: 16px;
  color: grey;
}

.worker-page {
  max-width: 600px;
  padding: 20px;
}

.worker-page .user-data {
  margin-bottom: 20px;
  margin-top: 20px;
}

.worker-page .edit-mode-form {
  display: flex;
  flex-direction: column;
}

.worker-page .edit-mode-form .form-control {
  margin-bottom: 15px;
}

.worker-page .edit-mode-form label {
  font-weight: bold;
  color: black;
}

.worker-page .edit-mode-form input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

.worker-page .edit-mode-form .timezone--wrapper {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons.searchButtons {
  width: 500px;
  justify-content: flex-end;
}

.createVacancy {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.createVacancy .creator-header {
  font-size: 24px;
}

.createVacancy .header {
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.createVacancy form {
  display: flex;
  flex-direction: column;
}

.createVacancy .form-control {
  margin-bottom: 15px;
}

.createVacancy label {
  font-weight: bold;
  color: black;
}

.createVacancy input[type="text"],
.createVacancy textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

.createVacancy .additional-buttons {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin-top: 10px;
}

.select-and-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select-and-button form {
  display: flex;
  flex-direction: column;
}

.select-and-button select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
}

.resume-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.resume-section {
  margin-bottom: 20px;
}

.resume-section label {
  font-weight: bold;
  color: black;
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.resume-section input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

.resume-section .buttons {
  margin-top: 10px;
}

.resume-section textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
  resize: vertical;
  min-height: 100px;
}

.resume-section .add-field {
  margin-top: 10px;
}

.resume-section .PhoneInput {
  width: 200px;
}

.feedback-form {
  max-width: 400px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 auto;
}

.feedback-form .form-control {
  margin-bottom: 20px;
}

.feedback-form label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.feedback-form input[type="text"],
.feedback-form textarea {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.feedback-form .radio label {
  margin-left: 10px;
  color: #333;
}

.feedback-list {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.feedback-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.feedback-item .from {
  margin-bottom: 10px;
  color: #333;
}

.feedback-item .mark {
  font-weight: bold;
  color: #007bff;
  font-size: 18px;
}

.feedback-item .text {
  margin-top: 10px;
  color: #333;
}

.feedback-item .timestamp {
  color: #777;
  font-size: 12px;
}

.feedback-item + .feedback-item {
  margin-top: 20px;
}

.employer {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.vacancy-page .employer {
  margin: 0;
}

.vacancy-page .similar {
  margin-top: 20px;
}

.employer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.employer .company {
  font-weight: bold;
  font-size: 20px;
  
  margin-bottom: 10px;
}

.employer .area,
.employer .description,
.employer .link {
  margin-top: 10px;
  color: #333;
}

.employer .link {
  color: #007bff;
  text-decoration: underline;
}

.employer .link:hover {
  color: #0056b3;
}

.employer .time-offset {
  margin-top: 10px;
  color: #777;
  font-size: 12px;
}

.employee-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.employee-page div {
  margin-bottom: 10px;
  color: #333;
}

.employee-page div:last-child {
  margin-bottom: 0;
}

.employee-profile {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.employee-profile .resume-item {
  margin: 0 auto;
}

.posted-resumes {
  margin-top: 20px;
  max-width: 400px;
}

.posted-vacancies {
  margin-top: 20px;
}

.resume-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  max-width: 400px;
}

.resume-item .role {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
  margin-bottom: 10px;
}

.resume-item .timestamp {
  color: #777;
  font-size: 12px;
}

.resume-item .button {
  margin-top: 10px;
}

.already-candidate {
  margin-top: 20px;
}

.applied-vacancies {
  max-width: 600px;
  margin: 0 auto;
}

.applied-vacancies .applied-vacancy {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.applied-vacancies .applied-vacancy .status {
  color: #333;
  margin-top: 10px;
}

.applied-vacancies .applied-vacancy .candidate-row {
  display: flex;
}

.applied-vacancies .applied-vacancy .candidate-info {
  width: 50%;
}

.applied-vacancies .applied-vacancy .button-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.searched-employees .employee-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searched-employees .employee-item div:first-child {
  width: 80%;
}

.searched-employees .employee-item:hover {
  background-color: #f8f8f8;
}

.searched-employees .employee-item div {
  margin-bottom: 10px;
  color: #333;
}

.searched-employees .employee-item .download-cv {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.searched-employees .employee-item .download-cv:hover {
  color: #0056b3;
}

.searched-employees .employee-item .time-offset {
  color: #777;
  font-size: 12px;
  margin-top: 10px;
}

.candidates-list {
  max-width: 600px;
  margin: 0 auto;
}

.candidates-list .candidate {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.candidates-list .candidate:hover {
  background-color: #e0e0e0;
}

.candidates-list .candidate div {
  margin-bottom: 10px;
  color: #333;
}

.candidates-list .candidate .download-cv {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
}

.candidates-list .candidate .download-cv:hover {
  color: #0056b3;
}

.candidates-list .candidate .time-offset {
  color: #777;
  font-size: 12px;
  margin-top: 10px;
}

.candidates-list .candidate .expectations {
  margin-top: 10px;
  color: #333;
}

.companyDataEdit, .companyDataView {
  width: 600px;
}

.companyDataView div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.companyDataEdit .form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.companyDataEdit input[type="text"], .companyDataEdit textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

.companyDataEdit .form-control input, .companyDataEdit.form-control textarea {
  min-height: 20px;
}

.companyDataInfo {
  margin-bottom: 20px;
}

.typical {
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;
}

.typical .typical-examples {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px;
}

.typical .typical-examples .example {
  max-width: 150px;
  cursor: pointer;
  background-color: #888;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.typical .typical-examples .example.characteristic {
  max-width: 30%;
}

.divider {
  height: 1px;
  color: #000;
  background-color: #000;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.recommended-header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.custom-list .custom-list_input-holder {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.custom-list .custom-list_input-holder .form-control {
  margin-top: auto;
  margin-bottom: auto;
}

.custom-list .custom-list_input-holder input {
  width: auto;
  margin-top: auto;
}

.custom-list .custom-list_input-holder .button {
  height: 100%;
  font-size: 26px;
  padding: 5px 10px;
}

.custom-list .custom-list_input-holder .form-control .input {
  width: 40%;
}

.custom-list .custom-list_input-holder .form-control select {
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
}

.custom-list .custom-list_added {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.custom-list .custom-list_added div {
  margin-top: auto;
  margin-bottom: auto;
}

.custom-list .custom-list_added-item {
  display: flex;
  gap: 10px;
  font-weight: normal;
}

.custom-list .custom-list_added-item button {
  font-size: 26px;
  padding: 5px 10px;
}

.custom-list .custom-list_item-text {
  display: flex;
}

.payment-expectations {
  margin-top: 20px;
}

.payment-expectations .radio {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-filters .form-control input {
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}

.search-filters .form-control input.level {
  width: 20px;
}

.language-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language-selector button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.language-selector button.active {
  background-color: #ccc;
}

.toCreator {
  cursor: pointer;
  text-decoration: underline;
}